* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #76b900;
    color: black;
    display: flex; 
    justify-content: space-around;
    padding: 10px 0;
}

.logo {
    width: 10%;
}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 30px ;
    font-size: 24px;
}
 
